:root {

    /* BACKGROUND */
    --bg-body: #020617;
    --bg-card: #0f172a;
    --bg-sidebar: #0f172a;
    --bg-hover: #1e293b;
    --bg-input: #020617;


    /* TEXT */
    --text-primary: #e5e7eb;
    --text-secondary: #9ca3af;
    --text-inverse: #020617;

    /* BORDER */
    --border-color: #475569;

    /* BRAND */
    --color-primary: #3b82f6;
    --color-primary-hover: #2563eb;

    --color-success: #22c55e;
    --color-warning: #f59e0b;
    --color-danger: #ef4444;
    --color-info: #06b6d4;

    /* INPUT */
    --bg-input: #020617;

    /* SHADOW */
    --shadow-card: 0 8px 30px rgba(0,0,0,0.5);

}