<?php
declare(strict_types=1);

return [

    'app_name' => 'CORE System',

    /* ==============================
       BANCO DO CORE
    ============================== */
    'db' => [
        'host' => 'db',
        'name' => 'core',
        'user' => 'root',
        'pass' => 'root',
        'charset' => 'utf8mb4',
    ],

    /* ==============================
       BANCO PADRÃO PARA PROJETOS
       (usado na instalação automática)
    ============================== */
    'project_db' => [
        'host' => 'db',
        'user' => 'root',
        'pass' => 'root',
        'charset' => 'utf8mb4',
    ],
	

'app_url' => 'https://lojasmarim.com',

'mail' => [
    'provider' => 'resend',
    'api_key'  => 're_M7rZiBmX_2b5ozAnk9k2y73FeMmRzAJ7a',
    'from'     => 'Loja Marim <no-reply@lojasmarim.com>'
],

    /* ==============================
       CHAVE INTERNA DA API
    ============================== */

    'api_key' => 'core_Zx92kLmPqW84VbT6yR3',

];
	